// Job.scss

.job-card {
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;

    &:hover {
        transform: scale(1.02);
    }

    .job-title, .job-name, .job-type {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 1rem;
    }


    .job-description {
        font-size: 1rem;
        color: #6b6b6b;
    }

    .apply-button {
        background-color: #4caf50;
        color: #ffffff;

        &:hover {
            background-color: #45a049;
        }
    }
}