@import "../../style.scss";
.container1{
    @include themify($themes) {
        background-color:themed("bgSoft");
        height: 100vh;
        .job-details-container {
            background-color:themed("bgSoft");
  
            overflow-y: scroll;
        
            scrollbar-width: auto;
        
            scrollbar-color: auto;
        
            -ms-overflow-style: auto;
            
        }
    }
}
        
    




