@import '../../style.scss';
.rightbar{
    @include themify($themes)
    {
    flex: 2.5;
    
    position: sticky;
    top: 70px;
    height: calc(100vh - 70px );
    overflow: scroll;
    scrollbar-width: none; /* Hide scrollbar for Firefox */
    background-color: themed("bgSoft");
    -ms-overflow-style: none;
    &::-webkit-scrollbar{
        display: none;
    }
    @include mobile{
        display: none;
    }
    .container{
        padding: 20px 10px 10px 10px;

        .item{
            padding: 5px;
            margin-top: 20px;
            border-radius: 15px;
            font-family: "Poppins", sans-serif;
            font-size: large;
            box-shadow: 9px -2px 22px -4px rgba(173,173,173,0.75);
-webkit-box-shadow: 9px -2px 22px -4px rgba(173,173,173,0.75);
-moz-box-shadow: 9px -2px 22px -4px rgba(173,173,173,0.75);
background-color: themed("bg");
            span{
                color: themed("textColor");
                display: flex; /* Use flexbox */
                justify-content: center; /* Center horizontally */
                align-items: center; /* Center vertically */
                margin: 10px;
                
            }
            .user{

                display: flex;
                color: themed("textColorSoft");
                margin: 15px 20px;
                .userInfo{
                 display: flex;
                 align-items: center;
                 gap: 20px;
                 color: themed("textColorSoft");
                 position: relative;
                 cursor: pointer;
                 img{
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    object-fit: cover;
                 }
                 .online{
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                    background-color: green;
                    position: absolute;
                    top:0 ;
                    left: 30px;
                 }
                 p{
                    color:themed("textColorSoft");
                    font-weight: bold;
                 font-size: medium;
                 }
                 span{
                
                    
                    font-family: "Poppins", sans-serif;
                    font-size: medium;
                    color: themed("textColor");
                 }
                }
                .buttons{
                   display: flex;
                   align-items: center;
                   gap: 10px;
                }
                button{
                    border: none;
                    
                        padding: 5px;
                        color: white;
                        cursor: pointer;
                    
                   background: #3896ff;
                    
                        &:last-child {
                            background-color: red;
                        }
                }
                
            }
        }
    }
}

}
@media screen and (max-width: 768px){
    .rightbar {
        display: none;
    }
}