
@import "../../style.scss";

.card {
  @include themify($themes){
  border: 1px solid theme("border");
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  background-color: themed("bg");
  &:hover {
    box-shadow: 0 4px 8px rgba(104, 93, 93, 0.2);
  }

  &-content {
    display: flex;
    flex-direction: column;
    padding: 16px;

    .job-title {
      font-size: 1.8rem;
      font-weight: bold;
      color: themed("textColor");
      cursor: pointer;
      transition: color 0.3s ease;

      &:hover {
        color: themed("textColorSoft");
      }
    }

    .company-name,
    .salary,
    .openings,
    .remote-work {
      font-size: 1.4rem;
      margin-top: 8px;
      color:themed("textColorSoft");
    }

    .company-name::before,
    .salary::before,
    .openings::before,
    .remote-work::before {
      content: attr(data-label);
      font-weight: bold;
      margin-right: 4px;
    }
  }
}

}