.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  height: 50px;
  border-bottom: 1px solid lightgray;
  position: sticky;
  top: 0px;
  background-color: white;
}
.centercontainer {
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Adjust as needed to center vertically within the viewport */
}
.left{
   display: flex;
   align-items: center;
   gap: 30px;
}
.span{
    font-weight: bold;
    font-size: 20px;
    color: darkblue;
}
.search {
    display: flex;
    align-items: center;

    gap: 10px;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 5px;
    width: 45rem;
    max-width: 900px; /* Limit the width to 500px */
}

/* Styling for the search icon */
.searchicon {
    font-size: 18px;
    color: gray;
}

/* Styling for the input field */
.search > input {
    border: none;
    flex: 1; /* Allow the input to grow and take available space */
    outline: none; /* Remove the input outline */
    padding: 5px;
    
    width: 100%;
}

/* Hover effect for the search bar */
.search:hover {
    border-color: #007bff; /* Change border color on hover */
}
.right{
    display:flex;
    align-items: center;
    gap: 20px;
}
.user{
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
}
.user> img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}